@using PekiYaBen.WebSite.Extensions;
@using PekiYaBen.WebSite.Models.EntityModels;

@model List<Coach>

@{
    var products = (List<Product>)ViewBag.Products;
    var selectedProduct = (Product)ViewBag.SelectedProduct;
}

<div class="col-lg-12">
    @foreach (var coach in Model)
    {
        var prods = coach.CoachingInfo.Split(',');
        var coachUrl = $"/Kocluk-Ekibimiz/{selectedProduct.Id}/{selectedProduct.Title.FriendlyUrl()}/{coach.Id}/{coach.FullName.FriendlyUrl()}";

        var url = $"/randevu-takvimi/{selectedProduct.Id}/{selectedProduct.Title.FriendlyUrl()}/{coach.Id}/{coach.FullName.FriendlyUrl()}";

        <div class="coaches bg-white">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="job-company-logo">
                        <a href="@url"><img src="@coach.ProfilePhoto" alt="@coach.FullName" title="@coach.FullName" /></a>
                    </div>
                    <div class="job-details">
                        <h3>@coach.FullName</h3>
                        <span class="title mb-5">
                            @coach.Title
                        </span><br />
                        <a href="@coachUrl" class=" text-primary">
                            <i class="fa fa-search"></i> Öz Geçmişi
                        </a>
                        @*<div>
                                @foreach (string pr in prods)
                                {
                                    if (pr.Contains("Atölye"))
                                    {
                                        continue;
                                    }
                                    var coachProduct = products.FirstOrDefault(x => x.Title == pr);
                                    <a href="@url" class="text-primary">@pr</a><br />
                                }
                            </div>*@
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-xs-12">
                    @coach.Description
                    @if(coach.Status == 1) {
                    <div class="text-right">
                        <a href="@url" class="btn btn-outline-primary btn-sm">
                            <i class="fa fa-calendar-alt"></i> @(coach.Status == 1 ? "Randevu Al" : "Detaylı Bilgi")
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
    }
</div>