@using PekiYaBen.WebSite.Models.EntityModels;
@using PekiYaBen.WebSite.Extensions

@model Coach
@{
    ViewBag.Title = "Koçluk Ekibimiz";

    var products = (List<Product>)ViewBag.Products;
    var selectedProduct = (Product)ViewBag.SelectedProduct;

    var comments = (List<Comment>)ViewBag.Comments;

}
<script>
  fbq('track', 'ViewContent');
</script>

<div class="blog">
    <section class="section breadcrumb-area bg-overlay d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Breamcrumb Content -->
                    <div class="breadcrumb-content d-flex flex-column align-items-center text-center pt-5">
                        <h2 class="text-white">@ViewBag.Title</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item"><a href="/Kocluk-Ekibimiz">@ViewBag.Title</a></li>
                            <li class="breadcrumb-item"><a href="/Kocluk-Ekibimiz/@selectedProduct.Id/@selectedProduct.Title.FriendlyUrl()">@selectedProduct.Title</a></li>
                            <li class="breadcrumb-item active">@Model.FullName</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="blog" class="section blog-area ptb_100">
        <div class="container">
            <div class="row d-block">
                <div class="col-12 col-lg-9 float-sm-right">
                    <article class="single-blog-details">
                        <!-- Blog Thumb -->
                        <div class="reviewer media bg-gray p-4">
                            <!-- Reviewer Thumb -->
                            <div class="reviewer-thumb">
                                <img class="avatar-lg radius-100" src="@Model.ProfilePhoto" alt="@Model.FullName" title="@Model.FullName">
                            </div>
                            <!-- Reviewer Media -->
                            <div class="reviewer-meta media-body align-self-center ml-4">
                                <h5 class="reviewer-name color-primary mb-2">@Model.FullName</h5>
                                <h6 class="text-secondary fw-6">@Model.Title</h6>
                            </div>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content sApp-blog">
                            <div class="blog-details mt-4">
                                <p class="d-block">@Model.Description</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    @if ((int)ViewBag.BlogCount > 0)
                                    {
                                        var subUrl = $"/Kisisel-Gelisim/Yazilar/{Model.Id}/yazar_{Model.FullName.FriendlyUrl()}";
                                        <div class="col-3 col-md-3 col-sm-12">
                                            <a href="@subUrl" class="btn btn-outline-success btn-sm mt-3" style="width:110px"><i class="fa fa-keyboard"></i> Yazılar</a>
                                        </div>
                                    }
                                    @if ((int)ViewBag.VideoCount > 0)
                                    {
                                        var subUrl = $"/Kisisel-Gelisim/Videolar/{Model.Id}/yazar_{Model.FullName.FriendlyUrl()}";
                                        <div class="col-3 col-md-3 col-sm-12">
                                            <a href="@subUrl" class="btn btn-outline-warning btn-sm mt-3" style="width:110px"><i class="fa fa-camera"></i> Videolar</a>
                                        </div>
                                    }
                                    @if ((int)ViewBag.PodcastCount > 0)
                                    {
                                        var subUrl = $"/Kisisel-Gelisim/Podcastler/{Model.Id}/yazar_{Model.FullName.FriendlyUrl()}";
                                        <div class="col-3 col-md-3 col-sm-12">
                                            <a href="@subUrl" class="btn btn-outline-danger btn-sm mt-3" style="width:110px"><i class="fa fa-bullhorn"></i> Podcastler</a>
                                        </div>
                                    }
                                    @if ((int)ViewBag.CommentCount > 0)
                                    {
                                        var subUrl = $"/Yazar-Yorumlari/{selectedProduct.Id}/{selectedProduct.Title.FriendlyUrl()}/{Model.Id}/{Model.FullName.FriendlyUrl()}";
                                        <div class="col-3 col-md-3 col-sm-12">
                                            <a href="@subUrl" class="btn btn-outline-secondary btn-sm mt-3" style="width:110px"><i class="fa fa-comments"></i> Yorumlar</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="blog-comments mt-4">
                            <div class="comments mb-4">
                                <h3 class="comments-title mb-3">Uzmanlıkları</h3>
                                @{
                                    foreach (var info in Model.CoachingInfo.Split(','))
                                    {
                                        var coachProduct = products.FirstOrDefault(x => x.Title == info);
                                        if (coachProduct != null)
                                        {
                                            var url = $"/randevu-takvimi/{coachProduct.Id}/{coachProduct.Title.FriendlyUrl()}/{Model.Id}/{Model.FullName.FriendlyUrl()}";
                                            <div class="single-comments media p-2 @(coachProduct.Id == selectedProduct.Id ? "active" : "")">
                                                <div class="comments-content media-body pl-3">
                                                    <div class="float-left">
                                                        @coachProduct.Title<br />
                                                        @if (Model.Status == 1)
                                                        {
                                                            <b>@coachProduct.Price.ToString("#0.00") TL</b>
                                                        }
                                                    </div>
                                                    <div class="float-right">
                                                        <a href="@url" class="btn btn-sm btn-outline-primary" style="position:relative; z-index:9">
                                                            <i class="fa fa-calendar-alt"></i> Randevu Al
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                            <div class="comments mb-4">
                                <h3 class="comments-title mb-3">Eğitim Bilgileri</h3>
                                @{
                                    dynamic educationInfo = Newtonsoft.Json.JsonConvert.DeserializeObject(Model.EducationInfo);
                                    Console.Write(educationInfo);

                                    foreach (var info in educationInfo)
                                    {
                                        <div class="single-comments media p-2 bg-light">
                                            <div class="comments-content media-body pl-3">
                                                <div class="float-left">@info.term </div>
                                                <div class="float-left pl-2">
                                                    <div class="d-block">@info.organization</div>
                                                    <div class="d-block">@info.name</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="comments mb-4">
                                <h3 class="comments-title mb-4">Sertifika Bilgileri</h3>
                                @{
                                    dynamic certificateInfo = Newtonsoft.Json.JsonConvert.DeserializeObject(Model.CertificateInfo);
                                    Console.Write(educationInfo);

                                    foreach (var info in certificateInfo)
                                    {
                                        <div class="single-comments media p-2 bg-light">
                                            <div class="comments-content media-body pl-3">
                                                <div class="float-left">@info.term </div>
                                                <div class="float-left pl-2">
                                                    <div class="d-block">@info.organization</div>
                                                    <div class="d-block">@info.name</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var comment in comments)
                            {
                                string name = String.IsNullOrEmpty(comment.FullName) ? "" : comment.FullName.Split()[0];
                                string surname = String.IsNullOrEmpty(comment.FullName) ? "" : comment.FullName.Split()[1];
                                <div class="col-12 mb-lg-5 res-margin">
                                    <!-- Single Review -->
                                    <div class="single-review card">
                                        <!-- Card Top -->
                                        <div class="card-top p-4">

                                            <div class="row">
                                                <div class="col-2 text-center">
                                                    <div class="reviewer-thumb">
                                                        @comment.CreatedDate.Value.ToString("dd.MM.yyyy")<br><img class="avatar-lg radius-100" src="/Content/assets/img/avatar/default-1.png" alt="">
                                                    </div><h6 class="reviewer-name color-primary mb-2">@name @surname.FirstOrDefault().</h6>

                                                    <div class="review-icon">
                                                        @for (int i = 0; i < comment.Stars; i++)
                                                        {
                                                            <span class="fa fa-star fa-w-18 text-warning"></span>
                                                        }
                                                    </div>
                                                </div><div class="col-10">
                                                    <h4 class="text-primary mb-3">@comment.Title</h4>
                                                    <div class="review-text">
                                                        <p>@comment.Comment1</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Review Text -->
                                        </div>
                                        <!-- Reviewer -->

                                    </div>
                                </div>
                            }

                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-3">
                    <aside class="sidebar">
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <!-- Category Widget -->
                            <div class="accordions widget catagory-widget" id="cat-accordion">
                                <div class="single-accordion blog-accordion">
                                    <h5>
                                        <a role="button" class="collapse show text-uppercase d-block p-3" data-toggle="collapse" href="#accordion1">
                                            KOÇLUK TİPLERİ
                                        </a>
                                    </h5>
                                    <!-- Category Widget Content -->
                                    <div id="accordion1" class="accordion-content widget-content collapse show" data-parent="#cat-accordion">
                                        <!-- Category Widget Items -->
                                        <ul class="widget-items">
                                            @foreach (var product in products)
                                            {
                                                if (product.Title.Contains("Atölye") || product.Title.Contains("Sertifika Programı"))
                                                {
                                                    continue;
                                                }
                                                <li><a href="/Kocluk-Ekibimiz/@product.Id/@product.Title.FriendlyUrl()" class="d-flex p-3 @(product.Id == selectedProduct.Id ? "active" : "")"><span>@product.Title</span></a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</div>